<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.joker.springframework.test.bean.UserDao"/>

    <bean id="userService" class="com.joker.springframework.test.bean.UserService">
        <property name="uId" value="0001"/>
        <property name="company" value="天上人间"/>
        <property name="location" value="青岛"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>